@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
html, body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: hsl(217, 54%, 11%);
  font-family: 'Outfit', sans-serif;
}

.card {
  background: hsl(217, 50%, 16%);
  width: fit-content;
  margin: auto;
  padding: 22px;
  border-radius: 15px;
}

img {
  width: 300px;
  height: 300px;
}

.center-image {
  text-align: center;
  position: relative;
}

.center-image img {
  border-radius: 10px;
}

h1 {
  color: hsl(0, 0%, 100%);
  font-size: 21px;
}

h1:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

p {
  color: hsl(215, 51%, 70%);
}

.attribution {
  color: hsl(0, 0%, 100%);
}

.attribution a {
  color: #4c00b0;
  text-decoration: none;
}

.details {
  display: flex;
  justify-content: space-between;
}

.eth {
  display: flex;
  align-items: center;
  color: hsl(178, 100%, 50%);
  font-weight: 600;
}

.eth-icon {
  width: 12px;
  height: 18px;
  margin-right: 7px;
}

.time {
  display: flex;
  align-items: center;
}

.clock {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

hr {
  border: 1px solid hsl(215, 32%, 27%);
}

.profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profile-image {
  width: 35px;
  height: 35px;
  margin-right: 15px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}

span {
  color: hsl(0, 0%, 100%);
}

span:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.nft-image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.nft-overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0,255,247, 0.5);
}

.center-image:hover .nft-overlay {
  opacity: 1;
  cursor: pointer;
}

.view-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

